---
import MobileHamburger from '../components/MobileHamburger.astro';
import Menu from '../components/Menu.astro';
import Button from '../components/Button.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="text-lg font-Epilogue font-medium">
		<div id="app">
			<header class="p-4 flex items-center justify-between md:gap-12 md:mb-12">
				<div id="page-logo">
					<a href="#">
						<img src="../../src/assets/logo.svg" alt="Snap logo">
					</a>
				</div>
				<MobileHamburger />
				<Menu />
			</header>
			<main class="page-content flex flex-col-reverse md:grid md:grid-cols-2 lg:mx-auto lg:w-11/12">
				<section class="page-description text-center md:text-start mx-3 md:self-center md:justify-self-end">
					<div>
						<h1 class="font-bold text-4xl mt-7 md:text-5xl mb-3 md:hidden">Make remote work</h1>
						<h1 class="font-bold text-4xl md:text-6xl mt-7 mb-3 lg:text-7xl hidden md:block">Make <br> remote work</h1>
						<p class="mb-8 mx-4 md:mx-0 md:my-12 font-medium text-Medium-Gray text-base md:text-lg lg:w-4/6">Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
						<Button />
					</div>
					<ul class="mt-16 flex justify-between items-center lg:w-5/6">
						<li>
							<img class='compony-logo' alt='edatabiz' src='../../src/assets/client-databiz.svg'>
						</li>
						<li>
							<img class='compony-logo' alt='edatabiz' src='../../src/assets/client-audiophile.svg'>
						</li>
						<li>
							<img class='compony-logo' alt='edatabiz' src='../../src/assets/client-meet.svg'>
						</li>
						<li>
							<img class='compony-logo' alt='edatabiz' src='../../src/assets/client-maker.svg'>
						</li>
					</ul>
				</section>
				<!-- <img src="" alt="page banner" class="md:hidden"> -->
				<picture class="lg:w-[28.0rem] md:justify-self-center object-cover">
					<source srcset="../../src/assets/image-hero-desktop.png" media="(min-width: 768px)"/>
					<img src="../../src/assets/image-hero-mobile.png" alt="Hero mobile" class="w-full">
				</picture>
			</main>
		</div>

		<script>
			import '../script/dropdown.js';
		</script>
	</body>
</html>
