---

---

<article class="dropdown-content active absolute p-6 text-base w-[118px] rounded-lg bg-White shadow-2xl mt-3">
    <ul class="flex flex-col gap-2">
        <li>
            <a href="#">History</a>
        </li>
        <li>
            <a href="#">Our Team</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
    </ul>
</article>