---

---

<article class="dropdown-content active text-base absolute w-36 bg-White p-6 rounded-lg right-1 shadow-2xl mt-3">
    <ul class="flex flex-col gap-3">
        <li>
            <a href="#" class="flex items-center gap-3">
                <img src="../../src/assets/icon-todo.svg" alt="File icon">
                <span>Todo List</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center gap-3">
                <img src="../../src/assets/icon-calendar.svg" alt="calendar icon">
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center gap-3">
                <img src="../../src/assets/icon-reminders.svg" alt="bell icon">
                <span>Reminders</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center gap-3">
                <img src="../../src/assets/icon-planning.svg" alt="clock icon">
                <span>Planning</span>
            </a>
        </li>
    </ul>
</article>