---

---

<nav class="navigation-links">
    <section class="page-links">
        <ul>
            <li>
                <a href="#">
                    <span>Features</span>
                    <img src='/public/images/icon-arrow-down.svg' alt="arrow down">
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Company</span>
                    <img src='/public/images/icon-arrow-down.svg' alt="arrow down">
                </a>
            </li>
            <li>
                <a href="#">
                    Careers
                </a>
            </li>
            <li>
                <a href="#">
                    About
                </a>
            </li>
        </ul>
    </section>
    <section class="cta-btn">
        <a href="#" class="login-btn">Login</a>
        <a href="#" class="register-btn">Register</a>
    </section>
</nav>
