---

---

<nav class="navigation-links hidden grow md:flex justify-between items-center">
    <section class="page-links">
        <ul class="flex gap-6">
            <li>
                <a href="#" class="flex gap-1 items-center">
                    <span>Features</span>
                    <img src='../../src/assets/icon-arrow-down.svg' alt="arrow down">
                </a>
            </li>
            <li>
                <a href="#" class="flex gap-1 items-center">
                    <span>Company</span>
                    <img src='/../../src/assets/icon-arrow-down.svg' alt="arrow down">
                </a>
            </li>
            <li>
                <a href="#">
                    Careers
                </a>
            </li>
            <li>
                <a href="#">
                    About
                </a>
            </li>
        </ul>
    </section>
    <section class="cta-btn flex gap-8 items-center">
        <a href="#" class="login-btn">Login</a>
        <a href="#" class="register-btn py-1 px-4 border-2 border-x-Almost-Black rounded-lg">Register</a>
    </section>
</nav>
